.flex{
    display: flex;
    
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}

/* .border{
    
} */

.flex-col{
    flex-direction: column;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}
.p-1{
    padding: 10px;
}
.m-1{
    margin: 5px;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: #222;
}
html {
    scrollbar-color: #333 #222;
}